.heading {
    position: fixed;
    height: 3rem;
    margin-top: 0em;
    display: flex;
    flex-direction: row;
    z-index: 3;
}

.heading-background {
    height: 4.5rem;
    left: 33.33vw;
    border-left: 1px solid rgba(255, 255, 255, 0.275);
    width: 40.3vw;
    position: fixed;
    background-color: black;
    z-index: 2;
}


.wrapper {
    border-left: 1px solid rgba(255, 255, 255, 0.275);
    border-right: 1px solid rgba(255, 255, 255, 0.275);

}

.arrow {
    font-size: 3em;
    color: white;
    cursor: pointer;
    top: revert;
    left: revert;
}

.arrow-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: none;
    min-height: 3rem;
    min-width: 3rem;
    max-height: 3rem;
    max-width: 3rem;
    top: 1.2rem;
    left: 1rem;
    background-color: black;
    border-radius: 100%;
}

.arrow-box:hover {
    background-color: rgba(66, 66, 66, 0.349);
    transition: 0.5s cubic-bezier(0.75, 0.82, 0.165, 1);
}

.user-name {
    position: relative;
    top: 1rem;
    left: 2rem;
}

p {
    position: relative;
    top: 0.7rem;
    left: 2rem;
    color: rgba(255, 255, 255, 0.384);
}

.full-name {
    position: relative;
    top: 5em;
    left: 2em;

}

.little-user-name {
    position: relative;
    top: 4em;
    color: rgba(255, 255, 255, 0.384);
    font-size: medium;
}

.about {
    top: 0;
    left: 0;
    font-size: 0.9rem;
    color: white;
}

#followers {
    left: 2rem;
}

.nav-post {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.384);
}