.clink-design {
    position: relative;
    z-index: 1;
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 1em;
    justify-content: center;
    transition: 0.3s;
}

.clink-design:hover {

    transition: 0.3s;
    color: rgba(161, 161, 161, 0.342);
    cursor: pointer;
}