.post-heading {
    display: flex;
    align-items: center;
    position: relative;
    top: 0.5rem;
    margin: 0;
    padding: 0;
}

.post-author {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0.36rem;
}

.post-timestamp {
    left: 0.8rem;
    font-weight: 100;
}

.text {
    position: relative;
    top: 1rem;
    left: 0;
    font-size: 0.9rem;
    color: white;
}

#heart {
    position: absolute;
    top: 0.38rem;
    left: 1.5rem;
    color: red;

}

#sandwich {
    position: absolute;
    top: 0.37rem;
    cursor: pointer;
}

.nav-post-actions {
    border-bottom: 1px solid rgba(255, 255, 255, 0.384);
}

#dropdownMenuButton1 {
    position: absolute;
    left: 10rem;
    top: -1.2rem;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 0;
}

.edit-post-input {
    position: relative;
    top: -6.5em;
    height: 0;
}